<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="sage.ew.db" publicKeyToken="96ae376547cf7c42" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-50.7830.0.0" newVersion="50.7830.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="sage.ew.lic" publicKeyToken="96ae376547cf7c42" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-50.7830.0.0" newVersion="50.7830.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>